
<h1>Request an account at <%= the_organization %></h1>

Please fill this form. Fields with an asterisk (*) are mandatory.<p>

<div class="form_container">

  <%= form_for @demand, :url => { :action => (@demand.new_record? ? "create" : "update"), :id => @demand.id } do |f| %>

  <%= f.error_messages %>

  <p>

  <table class="form_table">

    <tr>
      <th>Title:</th>
      <td><%= f.text_field :title, :size => 10 %> <span class="field_note">(e.g. 'Mr.', 'Dr.', 'Princess' etc)</span></td>
    </tr>

    <tr>
      <th>* First Name:</th>
      <td><%= f.text_field :first, :size => 20 %></td>
    </tr>

    <tr>
      <th>Middle Name:</th>
      <td><%= f.text_field :middle, :size => 10 %></td>
    </tr>

    <tr>
      <th>* Last Name:</th>
      <td><%= f.text_field :last, :size => 20 %></td>
    </tr>

    <tr>
      <td colspan="2" class="section_separator">&nbsp;</td>
    </tr>

    <tr>
      <th>* Name of Institution/Organization:</th>
      <td><%= f.text_field :institution, :size => 60 %></td>
    </tr>

    <tr>
      <th>* Department</th>
      <td><%= f.text_field :department, :size => 60 %></td>
    </tr>

    <tr>
      <th>* Current position or role:</th>
      <td><%= f.select :position, options_for_select(
              [ [ "(select one)", "" ], "Faculty", "PostDoc", "Researcher", "Student", "Industry", "Other" ],
              @demand.position)
          %></td>
    </tr>

    <tr>
      <th>* Email address:</th>
      <td><%= f.text_field :email, :size => 60 %></td>
    </tr>

    <tr>
      <th>Street Address (line 1):</th>
      <td><%= f.text_field :street1, :size => 60 %></td>
    </tr>

    <tr>
      <th>Street Address (line 2):</th>
      <td><%= f.text_field :street2, :size => 60 %></td>
    </tr>

    <tr>
      <th>City:</th>
      <td><%= f.text_field :city, :size => 30 %></td>
    </tr>

    <tr>
      <th>* Province/State:</th>
      <td><%= f.text_field :province, :size => 30 %></td>
    </tr>

    <tr>
      <th>* Country:</th>
      <td><%= f.text_field :country, :size => 30 %></td>
    </tr>

    <tr>
      <th>Postal Code:</th>
      <td><%= f.text_field :postal_code, :size => 8 %></td>
    </tr>

    <tr>
      <td colspan="2" class="section_separator">&nbsp;</td>
    </tr>

    <tr>
      <th>Time Zone:</th>
      <td>
        <%= f.time_zone_select :time_zone,
            ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
            { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'], :include_blank => true }
        %>
      </td>
    </tr>

    <tr>
      <td colspan="2" class="section_separator">&nbsp;</td>
    </tr>

    <tr>
      <th>* Service you request:</th>
      <td>
        <%= f.select :service, options_for_select( [ [ "(select one)", "" ] ] + NewAccountOfferings::ServiceList.map { |k,pair| [ pair[0], k ] }, @demand.service) %>
      </td>
    </tr>

    <tr>
      <th>Prefered 'login' name:</th>
      <td><%= f.text_field :login, :size => 10 %> <span class="field_note">(e.g. 'tjones', 'msmith' etc)</span></td>
    </tr>

    <tr>
      <td colspan="8">&nbsp;</td>
    </tr>

    <tr>
      <th>Comments or special requests:</th>
      <td><%= f.text_area :comment %></td>
    </tr>

    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>

    <tr>
      <td colspan="2">
        <center><%= f.submit(@demand.new_record? ? "Request Account" : "Update Request") %>
        <span class="field_note">(There's a delay of 3 seconds after submission)</span>
        </center>
      </td>
    </tr>

  </table>

  <% end %>

</div>

<p>

<strong>Privacy note:</strong><br>
<p>
The information you supply in this form is
only used in order to review your application and then, when approved, to
automatically fill out the fields of your user account at the service you requested.
</p>
This information will not be used in any other way, or passed on to
any other entities or person. In the end, only four (4) copies of this
information is stored:

<UL>
<LI>The NewAccount application, which shows you this form right now, has your information in a small database.</LI>
<LI>If your application is approved, some or all the fields are used to create your user account on the service, of course.</LI>
<LI>The system logs of the NewAccount application retains that information until log rotations (usually a few weeks).</LI>
<LI>System backups of the server which runs this application may also preserve the logs and database content for some weeks.</LI>
</UL>

You can elect to delete the information in the NewAccount database at any time (even before or after being approved for an account) if your let your browser keep the HTTP cookie that identify your session (a 'delete' link is provided in the summary which is shown after your submit).<p>

The last two copies are standard computer system maintenance procedures, as you can see.<p>

For more information, contact <A HREF="mailto:cbrain-support.mni@mcgill.ca">cbrain-support.mni@mcgill.ca</A>.

