<!DOCTYPE html>
<html>
<head>
  <title>New Account Request</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<span class="no_wrap"><IMG ID="mcgill_logo" SRC="/images/mcgill.png"><IMG ID="neuro_logo" SRC="/images/neurologo.png"></span>

<% flash.each do |type, msg| %>
  <% next if msg.blank? %>
  <div class="flash_<%= type %>"><pre><%= msg %></pre></div><p>
<% end %>

<%= yield %>

<div class="footer">Powered by <%= Pathname.new(Rails.root).basename %> by Pierre Rioux.
&nbsp;&nbsp;
<% if session[:admin].blank? %>
  <% if params[:controller].to_s != 'auth' %>
    <%= link_to "(Admin)", :controller => :auth, :action => :login %>
  <% end %>
<% else %>
  (You are administrator '<%= session[:admin] %>';
  <%= link_to "[logout]", :controller => :auth,    :action => :deauth %>,
  <%= link_to "[index]",  :controller => :demands, :action => :index %>
  )
<% end %>
</div>

</body>
</html>
